
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Shared/ShopThoiTrang.cshtml";
}
@using ShopThoiTrang.Models;
@model GioHang

<h2 class="container">Thông tin giỏ hàng</h2>
<div class="card border-dark container">
    <table class="table container">
            <tr style="background-color:gray;color:white">
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Ảnh bìa</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th></th>
                <th><a href="@Url.Action("XoaGioHangAll","DatHang")" style="color:white">Delete All</a></th>
                <th></th>
            </tr>
        @foreach (CartItem item in Model.dssp)
        {
            <tr>
                <td style="width:12%">@item.iMaSP</td>
                <td style="width:26%">@item.iTenSp</td>
                <td style="width:22%"><img src="~/Image/@item.iAnhBia" width="100%"></td>
                @using (Html.BeginForm("UpdateGioHang", "DatHang", new { msp = @item.iMaSP }))
                {
                    <td style="width:12%">
                        <input id="Text1" type="number" style="width:50px" name="txtSoLuong" value="@item.isoluong" />
                    </td>
                    <td style="width:12%">@item.iDonGia</td>
                    <td style="width:16%">@item.ThanhTien</td>
                    <td style="width:16%"><a href="@Url.Action("Deatails", "ThoiTrang", new { @msp = item.iMaSP })" class="btn btn-warning">Details</a></td>
                    <td style="width:16%"><a href="@Url.Action("XoaGioHang", "DatHang", new { @msp = item.iMaSP })" class="btn btn-warning">Delete</a></td>
                    <td style="width:16%">
                        <input type="submit" value="Update" class="btn btn-warning" />
                    </td>
                }
            </tr>
        }
        <tr style="background-color:gray">
            <td colspan="3" style="color:blue; font-weight:bold; text-align:right">Tổng cộng:</td>
            <td style="color:white; font-weight:bold;">@ViewBag.tongsl</td>
            <td></td>
            <td style="color:white; font-weight:bold;">@ViewBag.tongthanhtien VNĐ</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <div class="container">
        <a href="@Url.Action("Index","ThoiTrang")" style="float:left">Shop Now</a>

        <div class="float-right">
            @*<label>Ghi Chú</label>
                <input id="Texdt1" type="text" name="txtGhiChu" />*@
            @Html.ActionLink("ĐẶT HÀNG", "kiemTraDH", "DatHang", new { @class = "btn btn-dark", @style = "width:200px;color:white; font:bold" })
            @*<input type="submit" value="Đặt Hàng" class="btn btn-warning" style="width:100px;color:white; font:bold"/>*@
        </div>
        <br />
        <br />
    </div>
</div>
<br />

